body{
  padding: 0;
  margin: 0;
  font-family: verdana;
  background-color: grey;
}
.acc{
  text-align: center;
  font-weight: 2.0em;
  font-size: 2.0em;
}
.activv{
  width:200px;
  margin-left:150px;
}
.logo{
  width:100px;
  margin-top: -15px

}
.manage{
  width: 50%;
  float: left;
}

.headers{
    width:100%;
    margin-top:-80px;
    height: 300px;
}
.headerss{
  width:50%;
}
